version: '3.8'

services:
  greenplum:
    image: andruche/greenplum:6
    container_name: gp_autopart_demo
    hostname: mdw
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_PASSWORD=gpadmin
      - GTZ=Europe/Moscow
    volumes:
      - ./:/code

  gp-init:
    image: postgres:14-alpine
    depends_on:
      - greenplum
    volumes:
      # 1. Инициализация (схема)
      - ./docker/init.sql:/00_init.sql
      
      # 2. Установка функций (ПОРЯДОК ВАЖЕН!)
      # analyzer -> dep_manager -> executor -> orchestrator -> main entrypoint
      - ./src/analyzer.sql:/01_analyzer.sql
      - ./src/dependency_manager.sql:/02_dep_manager.sql
      - ./src/executer.sql:/03_executor.sql
      - ./src/orchestrator.sql:/04_orchestrator.sql
      - ./src/partition_manager.sql:/05_main.sql
      
      # 3. Тесты
      - ./src/tests.sql:/99_tests.sql
      
    environment:
      PGHOST: greenplum
      PGPORT: 5432
      PGUSER: gpadmin
      PGPASSWORD: gpadmin
    
    # Команда запуска с проверкой и флагом ON_ERROR_STOP
    command: >
      sh -c "
        echo 'Waiting for Greenplum...' &&
        until psql -d postgres -c 'SELECT 1' > /dev/null 2>&1; do 
          sleep 5; 
        done &&
        echo 'Greenplum is up! Running installation sequence...' &&
        
        # 1. База
        psql -d postgres -c 'CREATE DATABASE demo_db;' || true &&
        
        # 2. Накатываем структуру (схему)
        psql -v ON_ERROR_STOP=1 -d demo_db -f /00_init.sql &&
        
        # 3. Накатываем функции ПО ОЧЕРЕДИ
        echo 'Installing functions...' &&
        psql -v ON_ERROR_STOP=1 -d demo_db -f /01_analyzer.sql &&
        psql -v ON_ERROR_STOP=1 -d demo_db -f /02_dep_manager.sql &&
        psql -v ON_ERROR_STOP=1 -d demo_db -f /03_executor.sql &&
        psql -v ON_ERROR_STOP=1 -d demo_db -f /04_orchestrator.sql &&
        psql -v ON_ERROR_STOP=1 -d demo_db -f /05_main.sql &&
        
        # 4. Тесты
        echo 'Running TESTS...' &&
        psql -v ON_ERROR_STOP=1 -d demo_db -f /99_tests.sql &&
        
        echo '*** SUCCESS! ALL COMPONENTS INSTALLED AND TESTED ***'
      "
